
<div >
	<p>
      Digital Shark Technology is a provider of products, services and solutions to Academic, industrial and commercial users of electronic components and enterprise computing solutions. The company serves multiple suppliers & OEMs, contract manufacturers and commercial customers across the country.
</p>


<p>
  Our Company offers a wide spectrum of products and a broad range of services and solutions, including materials planning, design services, programming and assembly service and a variety of online support services.
</p>


<p>
Customers include Academics, manufacturers of consumer and industrial equipment (Factory automation and robotic equipment), telecommunications products, scientific and medical devices and computer and office products. Value-added resellers of enterprise computing solutions are also counted among its customers.</p>
<p>
	Our Company provides product offerings in the electronic components and enterprise computing solutions distribution industries and a wide range of value-added services to help customers reduce time-to-market, lower their total cost of ownership, introduce innovative products through demand creation opportunities and enhance their overall competitiveness.
</p>
<p>The company has two business segments. It distributes electronic parts through the components business division and provides enterprise computing solutions to value added customer for business segment.</p>
<p>
	We have a young and vibrant multi-disciplinary team, passionate about the electronic ecosystem and its potential to change our lives.
More than anything else, we love the Ecosystem and are very excited to play a pivotal role in increasing its relevance and utility for consumers, creators and developers.
</p>

</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>