
 <br>
 <br>
 <br><br>
<h1>{{main.username}}'s Profile</h1>


<table >

<tr>
		<td><strong>First Name</strong></td>
		<td>{{main.userfirstname}}</td>
	</tr>
	<tr>
		<td><strong>Last Name</strong></td>
		<td>{{main.userlastname}}</td>
	</tr>
	<tr>
<td><strong>Username</strong></td>
<td>{{main.username}}</td>
</tr>
	<tr>
		<td><strong>Email</strong></td>
		<td>{{main.useremail}}</td>
	</tr>
	<tr>
		<td><strong>Mobile</strong></td>
		<td>{{main.usermobile}}</td>
	</tr>
	<tr>
	<td><strong>Password</strong></td>
	<td>************</td>
</tr>



	

	
</table>
	<br>


<br>

  <br>
 <br>
 
 <br>
 <br>
 <br>
 <br>
          <br> 
          <br>
          <br> 
          <br>
          <br> <br>
          <br> 
          <br>
          <br> 

 
