<div class="page-header">
<h1>view page</h1>
</div>
<div class="panel panel-info">
<div class="panel-heading" style="text-align: center;"><strong>Users</strong>
    
</div>
<table class='table' >
<thead>
  <tr>
    <th>Sl No</th>
    <th>Email</th>
    <th>Username</th>
    <th>Password</th>
    
    
    
    
  </tr>
</thead>
<tbody>

  <tr  ng-repeat="user in users" > 
    <td>{{$index+1}}</td>
    <td>{{user.email}} </td>
    <td>{{user.username}}</td>
    <td>*********</td>
  
   
    
   
    </tr>
</tbody>
</table>